{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "allowImportExportEverywhere": true,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "settings": {
    "react": {
      "version": "detect",
      "flowVersion": "0.53"
    }
  },
  "rules": {
    "react/prop-types": 0,
    "react/no-unescaped-entities": 0
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
