@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.button {
  @apply transition-all;
  @apply duration-200;
  @apply rounded;
  @apply px-3;
  @apply py-1;
  @apply text-xl;
  @apply text-blue-500;
  @apply font-hairline;
  @apply mx-2;
  @apply shadow-lg;
}

.button:hover {
  @apply shadow-inner-lg;
}

.button:focus {
  @apply outline-none;
}

.input {
  @apply px-4;
  @apply py-2;
  @apply bg-transparent;
  @apply border-2;
  @apply border-blue-500;
  @apply rounded;
  @apply max-w-20;
  @apply text-white;
  @apply text-lg;
  @apply outline-none;
}

.panel {
  @apply w-full;
  @apply pt-full;
  @apply mx-auto;
  @apply relative;
  @apply shadow-xl;
}
.panel:hover {
  @apply shadow-inner-xl;
}

.panel > span {
  @apply absolute;
  @apply transform;
  @apply top-1/2;
  @apply left-1/2;
  @apply -translate-x-1/2;
  @apply -translate-y-1/2;
  @apply text-3xl;
  @apply w-full;
}

.not-done {
  @apply bg-red-500;
  @apply text-white;
}
.not-done:hover {
  @apply bg-red-400;
}
.wip {
  @apply bg-yellow-500;
  @apply text-white;
}
.wip:hover {
  @apply bg-yellow-400;
}

.not-done:after {
  content: "❌";
  @apply absolute;
  @apply bottom-4;
  @apply transform;
  @apply left-1/2;
  @apply -translate-x-1/2;
}

.done {
  @apply bg-blue-400;
  @apply text-white;
}
.done:hover {
  @apply bg-blue-300;
}

.done:after {
  content: "✅";
  @apply absolute;
  @apply bottom-4;
  @apply transform;
  @apply left-1/2;
  @apply -translate-x-1/2;
}

.wip:after {
  content: "🚧";
  @apply absolute;
  @apply bottom-4;
  @apply transform;
  @apply left-1/2;
  @apply -translate-x-1/2;
}

.spin {
  animation: spin 0.2s ease-in-out;
}

.full-spin {
  animation: full-spin 0.2s ease-in-out;
}

.barrel-roll {
  animation: barrel-roll 0.9s forwards;
}

@keyframes barrel-roll {
  from {
    transform: rotate(0deg);
    opacity: 0;
  }
  to {
    transform: rotate(720deg);
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes full-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-done span,
.list-wip span,
.list-not-done span {
  @apply mb-4;
}

.list-done a:nth-child(n):before,
.list-done li:nth-child(n):before {
  content: "✅";
  @apply mr-2;
}

.list-wip a:nth-child(n):before {
  content: "🚧";
  @apply mr-2;
  @apply h-full;
}

.list-not-done a:nth-child(n):before {
  content: "❌";
  @apply mr-2;
}

.fade-bottom {
  animation: fadeBottom 0.5s ease-in-out forwards;
}

@keyframes fadeBottom {
  from {
    bottom: -50%;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

.float {
  animation: float 5s ease-in-out forwards infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

.citation {
  @apply relative;
  @apply my-4;
  @apply text-3xl;
  @apply text-center;
  @apply text-blue-700;
  @apply mx-auto;
}

.citation > .quoted {
  @apply relative;
  @apply p-0;
  @apply m-0;
}

.citation > .quoted:before {
  content: "“";
  @apply absolute;
  @apply -left-8;
  @apply -top-8;
  @apply text-6xl;
  @apply opacity-25;
}
.citation > .quoted:after {
  content: "”";
  @apply absolute;
  @apply -right-8;
  @apply -bottom-16;
  @apply text-6xl;
  @apply opacity-25;
}

.citation > .infos {
  @apply text-lg;
  @apply text-blue-400;
  @apply mt-2;
}

.citation > .infos:before {
  content: "- ";
}

.citation > .infos:after {
  content: " -";
}

.code-block {
  @apply px-4;
  @apply py-2;
  @apply rounded;
  @apply shadow-md;
  @apply max-w-full;
  @apply w-auto;
  @apply overflow-x-scroll;
  @apply text-white;
  @apply bg-blue-700;
  @apply relative;
  @apply font-mono;
  @apply cursor-pointer;
}

.code-block ~ span {
  @apply absolute;
  @apply right-2;
  @apply transform;
  @apply px-1;
  @apply rounded;
  @apply z-1;
  @apply border;
  @apply text-white;
  @apply border-white;
  @apply -translate-y-1/2;
  @apply top-1/2;
}
