@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.button {
  @apply bg-blue-500;
  @apply transition-all;
  @apply duration-200;
  @apply rounded;
  @apply px-3;
  @apply py-1;
  @apply text-xl;
  @apply text-white;
  @apply mx-2;
  @apply font-hairline;
}

.button:hover {
  @apply bg-blue-400;
}

.button:focus {
  @apply outline-none;
}

.input {
  @apply px-4;
  @apply py-2;
  @apply bg-transparent;
  @apply border-2;
  @apply border-blue-500;
  @apply rounded;
  @apply max-w-20;
  @apply text-white;
  @apply text-lg;
  @apply outline-none;
}

.panel {
  @apply w-full;
  @apply pt-full;
  @apply mx-auto;
  @apply relative;
}

.panel > span {
  @apply absolute;
  @apply transform;
  @apply top-1/2;
  @apply left-1/2;
  @apply -translate-x-1/2;
  @apply -translate-y-1/2;
  @apply text-3xl;
  @apply w-full;
}

.undone {
  @apply bg-red-400;
}
.undone:hover {
  @apply bg-red-300;
}

.undone:after {
  content: "❌";
  @apply absolute;
  @apply left-1/2;
  @apply bottom-4;
  @apply transform;
  @apply -translate-x-1/2;
}
.done:after {
  content: "✅";
  @apply absolute;
  @apply left-1/2;
  @apply bottom-4;
  @apply transform;
  @apply -translate-x-1/2;
}

.spin {
  animation: spin 0.2s ease-in-out forwards;
}

.full-spin {
  animation: full-spin 0.2s ease-in-out forwards;
}

.barrel-roll {
  animation: barrel-roll 0.9s forwards;
}

@keyframes barrel-roll {
  from {
    transform: rotate(0deg);
    opacity: 0;
  }
  to {
    transform: rotate(720deg);
    opacity: 1;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

@keyframes full-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
